<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container">
        <h2 class="text-center text-white greybg">...Change user password...</h2>

        <form th:action="@{/users/changepassword}"
              th:method="post"
              th:object="${changeUserPasswordDTO}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="currentUsername" class="text-white font-weight-bold">Current Username</label>
                    <input id="currentUsername"
                           th:placeholder="${currentUsername}"
                           th:field="*{username}"
                           type="text"
                           class="form-control"
                           disabled></input>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="currentPassword" class="text-white font-weight-bold">Current Password</label>
                    <input id="currentPassword"
                           th:field="*{currentPassword}"
                           type="password"
                           class="form-control"
                           placeholder="currentPassword"
                           required minlength="3" maxlength="20"/>
                    <div th:if="${userEnteredWrongCurrentPass}" class="alert alert-danger" role="alert">
                        Please, enter a valid current password!
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="newPassword" class="text-white font-weight-bold">New Password</label>
                    <input id="newPassword"
                           th:field="*{newPassword}"
                           th:errorclass="is-invalid"
                           type="password"
                           class="form-control"
                           placeholder="newPassword"
                           required minlength="3" maxlength="20"/>
                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"/>
                    </div>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="confirmNewPassword" class="text-white font-weight-bold">Confirm New Password</label>
                    <input id="confirmNewPassword"
                           name="confirmNewPassword"
                           th:field="*{confirmNewPassword}"
                           th:errorclass="is-invalid"
                           type="password"
                           class="form-control"
                           placeholder="confirmNewPassword"
                           required minlength="3" maxlength="20"/>
                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('confirmNewPassword')}" th:text="${err}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Change Password"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>


<footer th:replace="fragments/commons::footer"></footer>

</body>

<script src="/js/successfullyChanged/successfullyChangedPassword.js" type="text/javascript"></script>
</html>
