<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid">
        <h5 class="text-center text-white bg-dark mt-5"> Welcome to Computer Store,
            <span sec:authorize="isAuthenticated()">
<!--                <th:block sec:authentication='name'></th:block>-->
                <th:block th:text="${#authentication.principal.fullName}">X</th:block>
            </span>

            <span
                    sec:authorize="isAnonymous()"
                    sec:authentication='name'>
            Anonymous
            </span>
        </h5>
    </div>
</main>


<div th:replace="fragments/commons::footer"></div>

</body>
</html>
