<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid">
        <h5 class="text-center text-white mt-5"> Welcome to Computer Store,
            <span
                    sec:authorize="isAuthenticated()"
                    sec:authentication='name'>
            Name of the logged user
        </span>

            <span
                    sec:authorize="!isAuthenticated()"
                    sec:authentication='name'>
            Anonymous
        </span>
        </h5>
    </div>
</main>


<div th:replace="fragments/commons::footer"></div>

</body>
</html>
