<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid">
        <h2 class="text-center text-white mt-5 greybg">.........Items in Basket.......</h2>
        <h4 class="text-center text-white mt-5 greybg" th:text="'Total value: ' + ${basket.getTotalValue()} + ' LEVA'"></h4>
        <div class="offers row mx-auto d-flex flex-row justify-content-center .row-cols-auto">
            <div
                    th:each="p : ${basket.getItems()}" th:object="${p}"
                    class="offer card col-sm-2 col-md-3  col-lg-3 m-2 p-0">

                <div class="card-img-top-wrapper" style="height: 20rem">
                    <img
                            class="card-img-top"
                            alt="image"
                            th:src="*{photoUrl}">
                </div>

                <div class="card-body pb-1">
                    <h5 class="card-title"
                        th:text="'Model: ' + *{model}"> Model</h5>
                </div>

                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="card-text"><span th:text="'Type: ' + *{type}"></span></div>

<!--                        <div class="form-group col-md-6 mb-3">-->
<!--                            <label for="quantity" class="text-white font-weight-bold">Quantity buying:</label>-->
<!--                            <div class="card-text">-->
<!--                                <input id="quantity"-->
<!--                                       th:field="*{quantity}"-->
<!--                                       type="number"-->
<!--                                       class="form-control"-->
<!--                                       placeholder="quantity"-->
<!--                                       required/>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="card-text"><span th:text="'Quantity buying: ' + *{quantity}"></span></div>
                        <div class="card-text"><span th:text="'Price total: ' + *{sellingPriceForAllQuantity} + ' LEVA'"
                                                     style="font-weight: bold"></span></div>
                    </li>
                </ul>

                <a class="btn btn-link"
                   th:href="@{/items/all/{itemType}/details/{id} (itemType = *{type}, id=*{itemId})}">Details</a>
            </div>
        </div>
    </div>
</main>


<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>