<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid">
        <h2 class="text-center text-white mt-5 greybg">.......My Orders.......</h2>

        <div>
            <div class="container" th:each="o : ${orders}" th:object="${o}">
                <li>
                    <div class="float-left">
                        <div class="row justify-content-md-center" style="min-height: 38px">
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span
                                    th:text="'Client username: ' + *{username}">Client username:</span></div>
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span
                                    th:text="'Order number: ' + *{orderNumber}">Order number:</span>
                            </div>
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span
                                    th:text="'Created at: ' + *{createdAt}">Order created at:</span>
                            </div>
                            <a class="col-md-auto btn btn-info" th:href="@{/users/vieworders/{orderNumber}/details (orderNumber=*{orderNumber})}">Details</a>
                        </div>
                        <div class="w-100"></div>
                        <div class="row justify-content-md-center" style="min-height: 38px">
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span
                                    th:text="'Total items: ' + *{totalItemsInOrder}">Total items:</span>
                            </div>
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span
                                    th:text="'Total value: '+ *{totalValue}">Total value:</span>
                            </div>
                            <div class="col-md-auto text-dark bg-white" style="min-height: 38px"><span th:text="'Order status: '+ *{orderStatus}">Order status:</span>
                            </div>

                            <a class="col-md-auto btn btn-info">Change status</a>
                        </div>
                    </div>
                </li>
                <br>
            </div>


            <!--            <br>-->
            <!--            <li>-->
            <!--                <div class="row align-items-start" style="min-height: 38px">-->
            <!--                    <div class="col text-dark bg-white" style="min-height: 38px"><span th:text="'Created at: '">Order created at:</span>-->
            <!--                    </div>-->
            <!--                    <div class="col text-dark bg-white" style="min-height: 38px"><span th:text="'Total items: '">Total items:</span>-->
            <!--                    </div>-->
            <!--                    <div class="col text-dark bg-white" style="min-height: 38px"><span th:text="'Total value: '">Total value:</span>-->
            <!--                    </div>-->
            <!--                    <div class="col text-dark bg-white" style="min-height: 38px"><span th:text="'Order status: '">Order status:</span>-->
            <!--                    </div>-->
            <!--                    <a class="col btn btn-info bg-white">Details</a>-->
            <!--                    <a class="col btn btn-info">Change status</a>-->
            <!--                </div>-->
            <!--            </li>-->
            <br>
        </div>


        <!--        <h2 class="text-center text-white mt-5 greybg" th:text="'Order Number: ' + *{getOrderNumber()}"></h2>-->

        <!--        <div-->
        <!--                th:each="p : ${order.items}" th:object="${p}"-->
        <!--                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">-->
        <!--            <div class="row form-group col-md-7 mb-2">-->
        <!--                <div class="col text-dark bg-white">-->
        <!--                    <div class="card-text"><span th:text="'*Type: ' + *{type}">Type</span></div>-->
        <!--                    <div class="card-text"><span th:text="'*Model: ' + *{model}">Model</span></div>-->
        <!--                    <div class="card-text"><span th:text="'*Quantity: ' + *{quantity}">Quantity</span></div>-->
        <!--                    <div class="card-text"><span th:text="'*Single price: ' + *{pricePerUnit}">Price</span></div>-->
        <!--                    <div class="card-text"><span style="font-weight: bold"-->
        <!--                                                 th:text="'*All price: ' + *{sellingPriceForAllQuantity} + ' BGN'">Model</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <img style="max-width: 30%" class="card-img col" th:src="*{photoUrl}"></img>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <h4 class="text-center text-white mt-5 greybg" th:text="'Total Total: ' + *{totalTotal} + ' BGN'"></h4>-->

        <!--        <div class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" id="addExtraInfo">-->
        <!--            <label class="text-white font-weight-bold" style="position: center; font-size: 20px"-->
        <!--                   th:text="'Еxtra info for order ' + *{orderNumber}">Еxtra info for-->
        <!--                order</label>-->

        <!--            <div class="row form-group col-md-7 mb-2">-->
        <!--                <div class="col text-dark bg-white">-->
        <!--                    <div class="card-text"><span-->
        <!--                            th:text="'*Delivery address: ' + *{deliveryAddress}">Delivery address:</span></div>-->
        <!--                    <div class="card-text"><span th:text="'*Phone number: ' + *{phoneNumber}">Phone number</span></div>-->
        <!--                    <div class="card-text"><span th:text="'*Extra info: ' + *{extraInfo}">Extra info</span></div>-->

        <!--                </div>-->
        <!--            </div>-->

        <!--        </div>-->

    </div>
</main>


<footer th:replace="fragments/commons::footer"></footer>


</body>
</html>