<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<main>
    <div class="container-fluid">
        <div class="container">
            <h2 class="text-center text-white">Search for offers</h2>
            <form
                    th:method="GET"
                    th:action="@{/items/all/computer}"
                    th:object="${searchProductItemDTO}"
                    class="form-inline"
                    style="justify-content: center; margin-top: 50px;"
            >
                <div style="position: relative">
                    <input
                            th:field="*{model}"
                            th:errorclass="is-invalid"
                            class="form-control mr-sm-2"
                            style="width: 280px;"
                            type="search"
                            placeholder="Model name caseSensitive for now..."
                            aria-label="Search"
                            id="model"
                    />
                    <input
                            th:field="*{minPrice}"
                            th:errorclass="is-invalid"
                            class="form-control mr-sm-2"
                            style="width: 280px;"
                            type="search"
                            placeholder="Min price..."
                            aria-label="Search"
                            id="minPrice"
                    />
                    <input
                            th:field="*{maxPrice}"
                            th:errorclass="is-invalid"
                            class="form-control mr-sm-2"
                            style="width: 280px;"
                            type="search"
                            placeholder="Max price..."
                            aria-label="Search"
                            id="maxPrice"
                    />
<!--                    <small-->
<!--                            id="searchOfferHelpInline"-->
<!--                            class="bg-danger text-light rounded invalid-feedback"-->
<!--                            style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;"-->
<!--                    >-->
<!--                        Try writing something this time.-->
<!--                    </small>-->
                </div>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <h2 class="text-center text-white mt-5 greybg" th:text="#{view_all_computers}">.........All
            Computers.......</h2>
        <div class="offers row mx-auto d-flex flex-row justify-content-center .row-cols-auto">
            <div
                    th:each="c : ${computers}" th:object="${c}"
                    class="offer card col-sm-2 col-md-3  col-lg-3 m-2 p-0">

                <div class="card-img-top-wrapper" style="height: 20rem">
                    <img
                            class="card-img-top"
                            alt="Computer image"
                            th:src="*{photoUrl}">
                </div>

                <div class="card-body pb-1">
                    <h5 class="card-title"
                        th:text="' Model: ' + *{model}">
                        Model name</h5>
                </div>

                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="card-text"><span th:text="'* ' + *{processor}">Processor</span></div>
                        <div class="card-text"><span th:text="'* ' + *{videoCard}">Video card</span></div>
                        <div class="card-text"><span th:text="'* ' + *{ram}">Ram</span></div>
                        <div class="card-text"><span th:text="'* ' + *{disk}">Disk</span></div>
                        <div th:if="*{!ssd.isBlank()}" class="card-text"><span th:text="'* ' + *{ssd}">SSD</span></div>
                        <div th:if="*{!moreInfo.isBlank()}" class="card-text"><span th:text="'* ' + *{moreInfo}">More info</span>
                        </div>
                        <div class="card-text"><span th:text="'We sell at: ' + *{sellingPrice} + ' лв'"
                                                     style="font-weight: bold">Selling price</span></div>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <a class="btn btn-link"
                           th:href="@{/items/all/computer/details/{id} (id=*{itemId})}">Details</a>

                        <th:block sec:authorize="hasRole('ADMIN') || hasRole('EMPLOYEE_PURCHASES')">
                            <a class="btn btn-link alert-danger"
                               th:href="@{/pages/purchases/computers/{id}/edit (id=*{itemId})}">Update</a>

                            <form th:action="@{/pages/purchases/computers/delete/{id} (id=*{itemId})}"
                                  th:method="delete">
                                <input type="submit" class="btn btn-link alert-danger" value="Delete"></input>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid row justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${computers.isFirst()} ? 'disabled' : ''">
                        <a th:unless="${computers.isFirst()}"
                           class="page-link"
                           th:href="@{/items/all/computer(size=${computers.getSize()},page=0,model=${searchProductItemDTO.getModel()}, minPrice=${searchProductItemDTO.getMinPrice()},maxPrice=${searchProductItemDTO.getMaxPrice()})}">First</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${computers.hasPrevious() ? '' : 'disabled'}">
                        <a th:if="${computers.hasPrevious()}"
                           class="page-link"
                           th:href="@{/items/all/computer(size=${computers.getSize()},page=${computers.getNumber() - 1},model=${searchProductItemDTO.getModel()}, minPrice=${searchProductItemDTO.getMinPrice()},maxPrice=${searchProductItemDTO.getMaxPrice()})}">Previous</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${computers.hasNext() ? '' : 'disabled'}">
                        <a th:if="${computers.hasNext()}"
                           class="page-link"
                           th:href="@{/items/all/computer(size=${computers.getSize()},page=${computers.getNumber() + 1},model=${searchProductItemDTO.getModel()}, minPrice=${searchProductItemDTO.getMinPrice()},maxPrice=${searchProductItemDTO.getMaxPrice()})}">Next</a>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${computers.isLast()} ? 'disabled' : ''">
                        <a th:unless="${computers.isLast()}"
                           class="page-link"
                           th:href="@{/items/all/computer(size=${computers.getSize()},page=${computers.getTotalPages()-1},model=${searchProductItemDTO.getModel()},minPrice=${searchProductItemDTO.getMinPrice()},maxPrice=${searchProductItemDTO.getMaxPrice()})}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>


<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>